@import "../variables.less";
@import "../mixins.less";
@import "../flexbox.less";

header {
	width: @screen-lg-min;
	height: 525px;
	background: #ccc;
	margin: auto;
}

body {
	background: @brand-grey;
}

main {
	width: @screen-lg-min;
	margin: 0 auto;
	text-align: center;
	background: @brand-white;
}


@media all and (max-width: @screen-lg-min) {
	header, main {
		width: 100%;
	}
}

.divider {
	height: 8.33em;

	&.divider-green {
		background: @brand-green;
	}

	&.divider-blue {
		background: @brand-blue;
	}
}

.band-members {
	margin-top: 6em;

	.vikar-lenke {
		display: inline-flex;
		padding: 0.5em 1em;
	}
}

.member-list {
	list-style: none;
	padding: 0em;
	.flex-display;
	.flex-flow(row wrap);
	.justify-content(space-between);

	.member {
		cursor: pointer;
		margin: auto;
		padding: 2em;

		.profile-image {
			display: block;
			position: relative;
			margin: 1em auto 0em auto;
			width: @profile-image;
			height: @profile-image;

			img, .overlay {
				.border-radius(15px);
				width: @profile-image;
				height: @profile-image;
			}
			.overlay {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				background: @brand-green-alpha;
				z-index: 10;

				i {
					color: white;
					font-size: 2em;
					position: absolute;
					top: 45%;
					left: 45%;
				}
			}
		}

		&:hover .profile-image .overlay {
			display: block;
		}

		.name {
			font-size: 1.5em;
			margin: 1em 0em 0em 0em;
		}

		.instrument {
			font-size: 1.2em;
			margin: 0;
		}
	}

	.member:hover {
		color: @brand-green;
	}
}

.button {
	.border-radius(10px);
	border: 2px solid @clouds;
	background: @brand-grey;
	cursor: pointer;
}

.priser {

}