.contacts-1 {
	background: rgba(45, 62, 80, 1);
}

.contacts-1, .contacts-1 h3, .contacts-1 h6, .contacts-1 label {
	color: rgba(240, 240, 240, 1);
}

.header-23-sub .background {
	background-image: url('../sinco-min.jpg');
}

#contact-form .phone {
	float: right;
}

.gjem {
	display: none;
}

p.error {
	color: #e74c3c;
}

input.error, textarea.error {
	border-color: #e74c3c !important;
}

p.success {
	color: #2ecc71;
}

input.success, textarea.success {
	border-color: #2ecc71 !important;
}